# Project specific
*.sublime-project
*.sublime-workspace
go.sum

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
.pid

# Test binary, built with `go test -c`
*.test

# Test coverage output
coverage*.*
*.out

# postgres data volume used by postgres server container for testing purpose
testdata/postgres

# server binary
./server

# PID file generated to support live reload
.pid
